<template>
    <!-- Form page, send answer to the server and show the result, if the answer is already given show the result page instead -->
    <div class="h-full bg-white grid grid-flow-col place-items-center auto-rows-fr">
        <form class="w-1/2 h-96 flex flex-col items-end" v-if="correct === null">
            <fieldset class="w-full h-full">
                <template v-for="country of countries" @key="country">
                    <Input :value="country" @selected="onSelect"></Input>
                </template>
            </fieldset>
            <Submit :disabled="disabled" :click="submit"></Submit>
        </form>
        <Result v-else :correct="correct"></Result>
    </div>
</template>
<style>
</style>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            disabled: true, // Disable the submit button until the user select an answer
            picked: "", // The picked answer
            correct: null, // The correct answer, if no answer is picked yet, it's null
            countries: [] // The list of countries to render
        }
    }
    ,
    methods: {
        async submit() {
            // Send data to the server trough axios and get the result
            let { data } = await axios.post("/", { answer: this.picked });
            this.correct = data.correct;
        },
        onSelect(e) {
            // Update the picked value
            this.disabled = false;
            this.picked = e.picked;
        }
    },
    async beforeMount() {
        // fetch the countries list from the server
        let { data, status } = await axios.get("/api/countries");
        if (status === 200 && data.length > 0) {
            this.countries = data;
            return;
        }
        // Fallback in case of error with default values
        this.countries = [{ id: 1, name: "francia" }, { id: 2, name: "germania" }, { id: 3, name: "italia" }]
    }
}

</script>
