<template>
    <div class="h-full grid grid-cols-2 gap-0">
        <Question></Question> <!-- Question component -->
        <Answers></Answers> <!-- Answers component -->
    </div>

</template>

<script>
export default {
    name: "Home",
}
</script>
