<template>
    <!-- Page that show the question -->
  <div class="h-full bg-green grid grid-flow-col place-items-center auto-rows-fr">
    <div class="w-1/2 h-96">
      <h1 class="text-white font-bold text-3xl mb-8">Quale paese in Europa
        detiene il record per il
        maggiore consumo di
        acqua in bottiglia?</h1>
      <p class="text-white text-base font-light">Sottotitolo eventuale, non più lungo di così:
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi.</p>
    </div>
  </div>
</template>
<script>
export default {
    name: "Question",
}
</script>
