<template>
    <!-- Page that shows the correct answer and conditionally render the error/success message based on the sent value -->
  <div class="w-1/2 h-96 flex flex-col items-start relative">
    <div class="absolute top -top-10 gap-0 w-full">
      <success v-if="correct"></success>
      <wrong v-else></wrong>
    </div>
    <h1 class="text-4xl font-bold text-grey-darker mb-8">Italia</h1>
    <p class="font-medium text-grey-darker text-sm">
      L'anno scorso nel nostro paese sono stati consumati 196 litri d'acqua imbottigliata per abitante: 6 miliardi di
      bottiglie di plastica in tutto. Un primato di cui non andare particolarmente fieri - l'acqua del rubinetto è in
      genere di qualità eccellente e sicura - che fa dello Stivale la terza nazione al mondo per consumo di minerale,
      dopo Arabia Saudita e Messico.
    </p>
  </div>
</template>
<script>
export default {
  props: {
    correct: Boolean // Prop tha indicates if the answer is correct or not
  },
}
</script>
