<template>
    <div class="container h-14 w-full mb-5">
        <!-- Input component -->
        <input type="radio" :id="data.id" name="answer" :value="data.id" @click="onSelect()"
            class="appearance-none peer opacity-0 fixed w-0" />
        <label :for="data.id"
            class="cursor-pointer peer-checked:bg-grey-dark relative inline-block bg-white w-full h-full border rounded-lg pl-6 border-grey hover:bg-grey-light">
            <span class="absolute top-1/4">{{ name }}</span>
        </label>
    </div>
</template>
<script>
export default {
    name: "Input",
    props: {
        value: Object,
    },
    emits: ["selected"]
    ,
    data() {
        return {
            data: this.value,
            name: this.value.name.charAt(0).toUpperCase() + this.value.name.slice(1),
            picked: ""
        }
    },
    methods: {
        onSelect() {
            this.$emit("selected", { picked: this.value.id });
        }
    }
}
</script>
