<template>
    <!-- Submit button -->
    <input type="button" value="Avanti" @click="click()"
        class="w-2/3 h-14 rounded-lg bg-green font-medium text-white disabled:bg-green-light cursor-pointer disabled:cursor-default"
        :disabled="disabled"/>
</template>
<script>
export default {
    name: "Submit",
    props: {
        disabled: Boolean,
        click: Function
    },
}
</script>
