<template>
    <!-- Success message to display on top of the correct answer -->
    <div class="grid grid-cols-2 w-full col-span-full">
        <div class="flex flex-row">
            <smile></smile>
            <p class="font-medium text-green w-fit">Giusto!</p>
        </div>
        <div class="justify-self-end items-baseline flex flex-row ">
            <strong class="text-green text-base opacity-100 mr-1">+10 </strong>
            <p class="text-grey-darker opacity-70 text-xs h-fit"> PUNTI</p>
        </div>
    </div>
</template>
<script>
export default {
    name: "Success"
}
</script>
