<template>
    <!-- Error message to display on top of the correct answer -->
        <div class="flex flex-row">
            <error></error>
            <p class="font-medium text-red w-fit">Purtroppo no, la risposta corretta è...</p>
        </div>
</template>
<script>
export default {
    name: "Wrong"
}
</script>
